@font-face {font-family:"Harry Potter";src:url("../font/ParryHotter.ttf") format("ttf");font-weight:normal;font-style:normal;}

.navbar-brand{
    font-family: 'Harry Potter';
    font-weight: bold;
}
.card{
    border:1px black solid;
    height: 200px;
    width: 200px;
    display: inline-block;
    background-image: url("../images/HarryPotterBackGame.JPG");
    background-size: cover;

}
.overlay{
    height: 100%;
    width: 50%;
    background-color: black;
    opacity: 0.5;
    z-index: 1000;
    position: absolute;
    top:0;
    left:0;
}
.overlay p{
     color: white;
     font-size: 2em;
 }
.overlay button{
    font-size: 2em;
}
#bestBoardFrame{
    position: relative;
    text-align: center;
    /*transform: translateY(30%);*/
}
#replay{
    opacity:1;
}
#main-part{

}
