@font-face {font-family:"Harry Potter";src:url("../font/ParryHotter.ttf") format("ttf");font-weight:normal;font-style:normal;}

.navbar-brand{
    font-family: 'Harry Potter';
    font-weight: bold;
}
.card{
    border:1px black solid;
    height: 220px;
    width: 300px;
    display: inline-block;
    background-image: url("../images/HarryPotterBackGame.JPG");
    background-size: cover;

}
.overlay{
    height: 59%;
    width: 96%;
    background-image:url("../images/dumbledore.jpg");
    background-size: cover;
    z-index: 1000;
    position: absolute;
    top:21%;
    left:2%;
}
.overlay p{
     color: white;
     font-size: 2em;
    margin-top: 6%;
 }
.overlay button{
    font-size: 2em;
}
#bestBoardFrame{
    position: relative;
    text-align: center;
    transform: translateY(20%);

}
#replay{
    opacity:1;
    margin-top: 3%;
}
.ColumnCube {
    margin-bottom: -5px;
}
body{
    background-image: url("../images/wallpaper.jpg");
    background-size: cover;
}
